/* 
  Главный файл стилей для интерфейса звонка.
  Импортирует функциональные модули из папки call/.
*/

@import "call/_variables.css";
@import "call/_base.css";
@import "call/_components.css";
@import "call/_modals.css";
@import "call/_pre_call.css";
@import "call/_active_call.css";
@import "call/_responsive.css";