/* 
  Главный файл стилей для интерфейса звонка.
  Импортирует функциональные модули.
*/

@import url("call/_variables.css");
@import url("call/_base.css");
@import url("call/_components.css");
@import url("call/_modals.css");
@import url("call/_pre_call.css");
@import url("call/_active_call.css");
@import url("call/_responsive.css");