📖 <b>Инструкции по использованию:</b>

1️⃣ <b>Создание ссылки:</b>
   - Нажмите команду /start или выберите ее в меню.
   - В появившемся сообщении нажмите кнопку '🔗 Создать приватную ссылку'.
   - Бот пришлет вам сообщение с уникальной ссылкой для звонка.

2️⃣ <b>Начало звонка:</b>
   - Скопируйте сообщение со ссылкой или используйте кнопку '↪️ Поделиться', чтобы отправить ее вашему собеседнику.
   - Перейдите по ссылке. Ваш собеседник должен сделать то же самое.

3️⃣ <b>В комнате ожидания:</b>
   - Когда оба собеседника перейдут по ссылке, вы сможете выбрать тип звонка: аудио или видео.

4️⃣ <b>Завершение:</b>
   - Звонок защищен сквозным шифрованием. Сессия автоматически завершится через 3 часа, или когда один из участников закроет комнату.