<!-- templates/instructions_bot.html -->
📖 <b>Инструкции по использованию:</b>

1️⃣ <b>Создание ссылки:</b>
   - Нажмите команду /start или выберите ее в меню.
   - Бот предложит создать новую ссылку.

2️⃣ <b>Если у вас уже есть активные ссылки:</b>
   - Команда /start покажет список ваших действующих комнат, время их жизни и кнопки для быстрого перехода.
   - Вы можете либо использовать существующую комнату, либо создать новую (если не превышен лимит).

3️⃣ <b>Начало звонка:</b>
   - После создания ссылки бот пришлет вам сообщение.
   - Вы можете просто <b>переслать это сообщение</b> собеседнику, либо использовать кнопку '↪️ Поделиться', чтобы отправить ему приглашение без пометки "Переслано".

4️⃣ <b>В комнате для звонков:</b>
   - Перейдите по ссылке. Ваш собеседник должен сделать то же самое.
   - Пройдите быструю проверку оборудования и войдите в комнату ожидания.
   - Когда оба собеседника будут онлайн, вы сможете начать аудио- или видеозвонок.