<!-- templates/welcome.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Caller</title>
    <link rel="stylesheet" href="/static/css/call.css"> <!-- Общие переменные стилей -->
    <link rel="stylesheet" href="/static/css/landing.css"> <!-- Стили для этой страницы -->
</head>
<body>
    <div class="landing-container">
        <div class="landing-content">
            <h1 class="landing-title">Сервис для создания приватных аудио и видео звонков</h1>
            <p class="landing-text">
                Чтобы сгенерировать уникальную и безопасную ссылку для звонка, пожалуйста, воспользуйтесь нашим ботом в Telegram.
            </p>
            {% if bot_username %}
            <a href="https://t.me/{{ bot_username }}" target="_blank" class="landing-button">Перейти в бот {{ bot_name }}</a>
            {% endif %}
        </div>
    </div>
</body>
</html>